<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3 class="mb-4">Şifrəni unutdum</h3>

                    <div class="alert alert-info" th:if="${sent}">
                        Əgər bu email sistemdə varsa, OTP göndərildi.
                    </div>

                    <div class="alert alert-danger" th:if="${serverError != null}" th:text="${serverError}"></div>

                    <form th:action="@{/auth/forgot-password}" th:object="${form}" method="post" class="p-4 bg-light">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" th:field="*{email}" placeholder="example@gmail.com">
                            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>

                        <button type="submit" class="btn btn-primary py-2 px-4">OTP göndər</button>
                        <a th:href="@{/auth/login}" class="btn btn-link">Login</a>
                    </form>

                    <small class="text-muted d-block mt-3">
                        OTP kodu email-ə gələcək (5 dəqiqə aktiv olur).
                    </small>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
