<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3 class="mb-4">Yeni şifrə</h3>

                    <div class="alert alert-danger" th:if="${serverError != null}" th:text="${serverError}"></div>

                    <form th:action="@{/auth/reset-password}" th:object="${form}" method="post" class="p-4 bg-light">

                        <input type="hidden" th:field="*{token}"/>

                        <div class="form-group">
                            <label>Yeni şifrə</label>
                            <input type="password" class="form-control" th:field="*{newPassword}">
                            <small class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></small>
                        </div>

                        <div class="form-group">
                            <label>Şifrə təkrarı</label>
                            <input type="password" class="form-control" th:field="*{confirmNewPassword}">
                            <small class="text-danger" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></small>
                        </div>

                        <button type="submit" class="btn btn-primary py-2 px-4">Şifrəni yenilə</button>
                        <a th:href="@{/auth/login}" class="btn btn-link">Login</a>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
