<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/layout}">
<head>
    <title>Edit Car Segment</title>
</head>
<body>

<div layout:fragment="content">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Segment</h1>
        <a class="btn btn-secondary" th:href="@{/dashboard/car-segments}">
            Back
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">

            <form th:action="@{/dashboard/car-segments/edit/{id}(id=${id})}"
                  th:object="${editForm}"
                  method="post">

                <div class="form-group col-md-6 p-0">
                    <label>Name</label>
                    <input class="form-control" th:field="*{name}" />
                    <small class="text-danger"
                           th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}"></small>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-save"></i> Save
                </button>

            </form>

        </div>
    </div>

</div>

</body>
</html>
