<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>

<body>
<div layout:fragment="content">

    <section class="hero-wrap hero-wrap-2 js-fullheight"
             th:style="'background-image: url(' + ${banner.photoUrl} + ');'"
             data-stellar-background-ratio="0.5">

        <div class="overlay"></div>

        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            <a th:href="@{/}">
                                Home <i class="ion-ios-arrow-forward"></i>
                            </a>
                        </span>
                        <span>
                            Blog <i class="ion-ios-arrow-forward"></i>
                        </span>
                    </p>

                    <h1 class="mb-3 bread"
                        th:text="${banner.title}">
                        Blog
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="col-md-12 text-center d-flex ftco-animate"
                     th:each="blog : ${blogs}">

                    <div class="blog-entry justify-content-end mb-md-5">

                        <a th:href="@{'/blog/' + ${blog.id}}"
                           class="block-20 img"
                           th:style="'background-image: url(' + ${blog.imageUrl} + ');'">
                        </a>

                        <div class="text px-md-5 pt-4">

                            <div class="meta mb-3">

                                <div style="color:#007bff;"
                                     th:text="${#temporals.format(blog.createdAt, 'dd MMMM yyyy')}">
                                    29 Yanvar 2026
                                </div>

                                <div style="color:#007bff;"
                                     th:text="${blog.author}">
                                    Ilgar Oruc
                                </div>

                                <div>
                                    <a th:href="@{'/blog/' + ${blog.id} + '#comments'}" class="meta-chat">
                                        <span class="icon-chat"></span>
                                        <span th:text="${blog.commentCount}">0</span>
                                    </a>
                                </div>

                            </div>


                            <h3 class="heading mt-2">
                                <a th:href="@{'/blog/' + ${blog.id}}"
                                   th:text="${blog.title}">
                                    Blog title
                                </a>
                            </h3>

                            <p th:text="${blog.shortDescription}">
                                Blog short description
                            </p>

                            <p>
                                <a th:href="@{'/blog/' + ${blog.id}}"
                                   class="btn btn-primary">
                                    Continue
                                    <span class="icon-long-arrow-right"></span>
                                </a>
                            </p>

                        </div>
                    </div>
                </div>

            </div>

            <!-- ===== PAGINATION (DYNAMIC) ===== -->
            <div class="row mt-5" th:if="${totalPages != null and totalPages > 1}">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>

                            <!-- Prev -->
                            <li th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:if="${currentPage > 1}"
                                   th:href="@{/blog(page=${currentPage - 1}, search=${search}, tag=${tag})}">&lt;</a>


                                <span th:if="${currentPage == 1}">&lt;</span>
                            </li>

                            <!-- Page numbers -->
                            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a th:if="${i != currentPage}"
                                   th:href="@{/blog(page=${i}, search=${search}, tag=${tag})}"
                                   th:text="${i}">1</a>

                                <span th:if="${i == currentPage}"
                                      th:text="${i}">1</span>
                            </li>

                            <!-- Next -->
                            <li th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{/blog(page=${currentPage + 1}, search=${search}, tag=${tag})}">&gt;</a>

                                <span th:if="${currentPage == totalPages}">&gt;</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
</body>
</html>